.hiw {
  align-items: center;
  background-color: var(--token-08250336-7ddd-4922-9cb9-81197485932e, #fafafa);
  display: flex;
  /* background-color: #fff; */
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 80px 72px;
  position: relative;
  width: 100%;
}
.hiw-container {
  border-bottom-width: 2px;
  border-color: rgb(249, 249, 249);
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 2px;
  align-content: center;
  align-items: center;
  /* background-color: rgb(10, 10, 10); */
  border-radius: 20px;
  box-shadow: 0 4px #f9f9f9;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 34px;
  height: min-content;
  justify-content: flex-start;
  max-width: 1200px;
  overflow: hidden;
  padding: 64px;
  position: relative;
  width: 100%;
}

@media (max-width: 809px) {
  .hiw {
    padding: 64px 32px;
  }
}
@media (max-width: 450px) {
  .hiw {
    padding: 72px 16px;
  }
  .hiw-container {
    gap: 48px;
    padding: 48px;
  }
}
