.pricing {
  align-items: center;
  background-color: var(--token-08250336-7ddd-4922-9cb9-81197485932e, #fafafa);
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 80px 72px;
  position: relative;
  width: 100%;
}
.pricing-container {
  align-items: center;
  background-color: rgb(249, 249, 249);
  border-radius: 20px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 64px;
  height: min-content;
  justify-content: center;
  max-width: 1200px;
  overflow: hidden;
  padding: 64px;
  position: relative;
  width: 100%;
}

.img-container {
  transform: translateX(-50%);
  aspect-ratio: 0.9010238907849829 / 1;
  bottom: 0;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 1172px);
  left: 50%;
  overflow: visible;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 100%;
  z-index: 0;
}
.cards-container {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  height: min-content;
  justify-content: center;
  max-width: 800px;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.pricing-card-div {
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d,
    0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d,
    0 6.382653521484461px 19.147960564453385px -1.875px #0000000d,
    0 20px 60px -2.5px #0000000d;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: 320px;
  border-bottom-width: 2px;
  border-color: var(--token-08250336-7ddd-4922-9cb9-81197485932e, #fafafa);
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 2px;
  /* padding: 40px 32px; */
  background-color: var(--token-9c2f9650-7ca3-46db-8137-b7111f91eba2, #0a0a0a);
  box-shadow: 0 4px #0a0a0a;
}
.cards {
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  height: min-content;
  justify-content: center;
  align-items: center;

  max-width: 800px;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.top-section {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.start-book-container {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.para-start-div {
  align-items: center;
  /* background-color: #0a0a0a; */
  border-radius: 28px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 4px 12px;
  position: relative;
  /* white-space: pre; */
  width: 100%;
}

.para-start {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-size: 16px;
  text-align: left;
  color: rgb(102, 102, 102);
}

.price-container {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.price {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 48px;
  color: rgb(10, 10, 10);
}
.price-para-1 {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(115, 115, 115);
}
.price-para-2 {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  /* font-size: 14px; */
  font-weight: 500;
  line-height: 24px;
  color: rgb(10, 10, 10);
}
.review-container {
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  align-content: flex-start;
  align-items: flex-start;
  background-color: var(--token-9c2f9650-7ca3-46db-8137-b7111f91eba2, #0a0a0a);
  border-radius: 16px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 100%;
}
.img-review-div-container {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content;
}

.img-review-div {
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 40px);
  overflow: hidden;
  position: relative;
  width: 40px;
}
.founder-div {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content;
}

.cofounder-name {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 20px;
  color: black;
  white-space: pre;
}
.outer-cofounder-div {
}

.excellent-p {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-weight: 600;
  line-height: 24px;
  white-space: pre;
  color: black;
}

.btn-anchor {
  align-items: center;
  background-color: #262626;
  border-radius: 16px;
  box-shadow: inset 0 -4px #00000040;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  /* width: 100%; */
  transition: transform 0.3s ease-in;
}
.btn-anchor:hover {
  transform: scale(1.1);
}
.btn-secure-para {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: rgb(249, 249, 249);
}

.arrow-right {
  font-size: 28px;
  margin-top: -8px;
  color: white;
  font-weight: 900;
}

.feature-section {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.feature-text {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: rgb(10, 10, 10);
}
.feature-points-div {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.point-div {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.bullet-point {
  font-size: 32px;
  margin-top: -8px;
}
.point-text {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-weight: 500;
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
  line-height: 24px;
  color: rgb(10, 10, 10);
}
.flex-row-div {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 810px) and (max-width: 1199px) {
  .pricing {
    padding: 64px 32px;
  }
  .flex-row-div {
    flex-direction: row;
  }
  .cards {
    flex-direction: column;
  }
  .right-card-divvv {
    width: 70%;
  }
}

@media (max-width: 809px) {
  .pricing {
    padding: 72px 16px;
  }
  .flex-row-div {
    flex-direction: column;
  }
  .start-book-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .left-card {
    align-self: unset;
    flex: none;
    height: min-content;
    min-width: unset;
    width: 100%;
  }
  .right-card-divvv {
    width: 350px;
  }
  .cards {
    flex-direction: column;
  }
  .excellent-p {
    white-space: normal;
  }
  .pricing-container {
    padding: 24px 16px;
    gap: 48px;
  }
}
@media (max-width: 450px) {
  .pricing {
    padding: 72px 16px;
  }
  .start-book-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .left-card {
    align-self: unset;
    flex: none;
    height: min-content;
    min-width: unset;
    width: 310px;
  }
  .cards {
    flex-direction: column;
  }

  .excellent-p {
    white-space: normal;
  }
  .pricing-container {
    padding: 24px 16px;
    gap: 48px;
  }
  .excellent-p {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }
}
