.problem-div {
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  /* padding: 0 32px; */
  position: relative;
  width: 100%;
}
.text-section {
  display: flex;
  /* flex: none; */
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.text-divvv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* word-break: break-word;
  word-wrap: break-word; */
  text-align: center;
}
.text-section-heading {
  color: rgb(255, 255, 255);
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  /* font-size: 16px; */
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.text-section-para {
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  color: rgb(163, 163, 163);
  align-items: center;
  align-self: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
}
